<div style="margin-right: 100px">
  <div class="card-center-div" style="margin-top: 20px">
    <button
      mat-button
      aria-label="Date back"
      style="margin-bottom: 20px; height: 50px"
      (click)="dateBack()"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (dateInput)="onDateChange($event.value)"
        [(ngModel)]="selectedDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button
      mat-button
      aria-label="Date next"
      style="margin-bottom: 20px; height: 50px"
      (click)="dateNext()"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
  <div *ngFor="let game of games">
    <div class="card-center-div">
      <mat-card
        ><button mat-button disabled>
          <img [src]="game.hTeam.logo" height="40" width="40" />
        </button>
        {{ game.hTeam.fullName }}</mat-card
      >
      <mat-card class="scores-card"
        >{{ game.hTeam.score.points }} - {{ game.vTeam.score.points }}</mat-card
      >
      <mat-card
        >{{ game.vTeam.fullName }}
        <button mat-button disabled>
          <img [src]="game.vTeam.logo" height="40" width="40" /></button
      ></mat-card>
    </div>
    <div class="ticket-button-row">
      <button
        mat-raised-button
        color="primary"
        class="button-ticket lr-button"
        (click)="
          addBet({
            gameId: game.gameId,
            game: game.hTeam.shortName + ' - ' + game.vTeam.shortName,
            betOn: 1,
            quota: game.quota1
          })
        "
      >
        Home : {{ game.quota1 }}
      </button>
      <button
        mat-raised-button
        color="primary"
        class="button-ticket center-button"
        (click)="
          addBet({
            gameId: game.gameId,
            game: game.hTeam.shortName + ' - ' + game.vTeam.shortName,
            betOn: 'X',
            quota: game.quotaX
          })
        "
      >
        Draw : {{ game.quotaX }}
      </button>
      <button
        mat-raised-button
        color="primary"
        class="button-ticket lr-button"
        (click)="
          addBet({
            gameId: game.gameId,
            game: game.hTeam.shortName + ' - ' + game.vTeam.shortName,
            betOn: 2,
            quota: game.quota2
          })
        "
      >
        Away : {{ game.quota2 }}
      </button>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
