<div class="body">
  <mat-card class="account">
    <form [formGroup]="transactionForm" (ngSubmit)="makeBet()">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Eth amount" formControlName="amount" />
        <mat-icon matSuffix>attach_money</mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Deposit</button>
    </form>
  </mat-card>
  <mat-card class="account">
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="processBetResult()"
    >
      Process Result
    </button>
  </mat-card>
</div>
