<div>
  <div class="card-center-div" style="margin-top: 20px">
    <mat-card>
      <form [formGroup]="transactionForm" (ngSubmit)="makeBet()">
        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput placeholder="ETC amount" formControlName="amount" />

          <mat-icon matSuffix style="margin-right: 5px"
            ><img
              src="assets/svg/white/etc.svg"
              alt="EtcSVG"
              height="32px"
              width="32px"
          /></mat-icon>
          <mat-hint></mat-hint> </mat-form-field
        ><br />
        <button mat-raised-button color="primary" type="submit">Deposit</button>
      </form>
    </mat-card>
  </div>
</div>
