<div *ngIf="totalQuota != 1">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Game</th>
        <th scope="col">Bet</th>
        <th scope="col">Quota</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bet of bets$ | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ bet.game }}</td>
        <td>{{ bet.betOn }}</td>
        <td>{{ bet.quota }}</td>
        <td>
          <button mat-button aria-label="Remove bet">
            <mat-icon color="primary">delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td>Total</td>
        <td>{{ totalQuota }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div>
    <div class="card-center-div">
      <form [formGroup]="transactionForm" (ngSubmit)="makeBet()">
        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput placeholder="ETC amount" formControlName="amount" />

          <mat-icon matSuffix style="margin-right: 5px"
            ><img
              src="assets/svg/white/etc.svg"
              alt="EtcSVG"
              height="32px"
              width="32px"
          /></mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </form>
    </div>
    <div class="card-center-div">
      <button mat-raised-button color="primary" type="submit">Deposit</button>
    </div>
  </div>
</div>
